services:
  mysql:
    image: mysql:8
    platform: linux/amd64
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: db_catalogo_ci
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  backend-catalogo:
    platform: linux/amd64
    build:
      context: ./backend-catalogo
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/db_catalogo_ci
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345678
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend-catalogo:
    platform: linux/amd64
    build:
      context: ./frontend-catalogo
    ports:
      - "8082:80"
    depends_on:
      - backend-catalogo
    networks:
      - appnet

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    platform: linux/amd64
    ports:
      - "8081:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - appnet
    environment:
      JAVA_OPTS: "-Xms512m -Xmx1024m"

  sonarqube:
    image: sonarqube:9.9.5-community
    platform: linux/amd64
    container_name: sonarqube
    ports:
      - "9000:9000"
    networks:
      - appnet
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

volumes:
  mysql_data:
  jenkins_home:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

networks:
  appnet:
    driver: bridge